@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(30,30,30);
}
.Main{
    width: 100%;
    height: 100vh;
    display: inline-flex;
}
.Left-Itens{
    width: 20%;
    height: 99.5vh;
    border-radius: 0px 10px 10px 0;
    background-color: rgb(30,30,30);
}
.Logo{
    position: relative;
    top: 2vh;
    left: 5%;
    width: 90%;
    height: 12vh;
}
.Blue{
    font-size: 50px;
    font-family: 'Roboto';
    color: rgb(50, 50, 196);
}
.Logo{
    position: relative;
    font-size:50px;
    font-family: 'Roboto';
    color: rgb(221, 221, 221);
}
.Circle-Image-User{
    position: relative;
    width: 180px;
    height: 180px;
    left: 19%;
    top: 5vh;
    border-radius: 110px;
    background-color: rgb(80,80,80);
}
.Name{
    color: rgb(180, 180, 180);
    font-family: 'Open Sans';
    position: relative;
    top: 6vh;
    font-size: 25px;
    left: 22%;
}
.Description{
    color: rgb(180, 180, 180);
    font-family: 'IBM Plex Sans';
    position: relative;
    top: 6vh;
    font-size: 16px;
    font-weight: 400;
    left: 23.5%;
}
.Itens-Dashboard{
    position: relative;
    top: 8vh;
    width: 100%;
    height: 50vh;
}
.Btn{
    display: inline-flex;
    width: 100%;
    height: 10vh;
}
.Green-Left{
    position: relative;
    top: 1vh;
    width: 5px;
    height: 8vh;
    background-color: rgb(0, 122, 116);
}
.Green-Left2{
    position: relative;
    top: 1vh;
    width: 5px;
    height: 8vh;
    background-color: rgb(0, 122, 116);
}
.Green-Left3{
    position: relative;
    top: 1vh;
    width: 5px;
    height: 8vh;
    background-color: rgb(0, 122, 116);
}
.Green-Left4{
    position: relative;
    top: 1vh;
    width: 5px;
    height: 8vh;
    background-color: rgb(0, 122, 116);
}
.Green-Left5{
    position: relative;
    top: 1vh;
    width: 5px;
    height: 8vh;
    background-color: rgb(0, 122, 116);
}
#Teams{
    position: relative;
    top: 1vh;
    width: 99%;
    height: 8vh;
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'Roboto';
    font-size: 20px;
    border-radius: 0px 10px 10px 0px;
}
#Teams:hover{
    background-color: rgb(60,60,60);
}
#Chat{
    position: relative;
    top: 1vh;
    width: 99%;
    height: 8vh;
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'Roboto';
    font-size: 20px;
    border-radius: 0px 10px 10px 0px;
}
#Chat:hover{
    background-color: rgb(60,60,60);
}
#Friends{
    position: relative;
    top: 1vh;
    width: 99%;
    height: 8vh;
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'Roboto';
    font-size: 20px;
    border-radius: 0px 10px 10px 0px;
}
#Friends:hover{
    background-color: rgb(60,60,60);
}
#Settings{
    position: relative;
    top: 1vh;
    width: 99%;
    height: 8vh;
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'Roboto';
    font-size: 20px;
    border-radius: 0px 10px 10px 0px;
}
#Settings:hover{
    background-color: rgb(60,60,60);
}
.Img-Settings{
    position: absolute;
    left: 20px;
    top: 4px;
    width: 50px;
    height: 50px;
}
.Img-Friends{
    position: absolute;
    left: 20px;
    top: 4px;
    width: 50px;
    height: 50px;
}
#Logout{
    position: relative;
    top: 1vh;
    width: 99%;
    height: 8vh;
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'Roboto';
    font-size: 20px;
    border-radius: 0px 10px 10px 0px;
}
#Logout:hover{
    background-color: rgb(60,60,60);
}
.Img-Logout{
    position: absolute;
    left: 20px;
    top: 4px;
    width: 50px;
    height: 50px;
}
.Img-Chat{
    position: absolute;
    left: 20px;
    top: 4px;
    width: 50px;
    height: 50px;
}
.BtnTitle{
    position: relative;
}
.Img-Teams{
    position: absolute;
    left: 20px;
    top: 4px;
    width: 50px;
    height: 50px;
}
.Content-Rigth{
    width: 80%;
    height: 100%;
}
.Search-Socials{
    display: inline-flex;
    position: relative;
    width: 100%;
    top: 2vh;
    height: 10vh;
}
#Search{
    position: relative;
    top: 2vh;
    left: 10%;
    width: 30%;
    height: 6vh;
    border-radius: 20px;
    border: none;
    background-color: rgb(85, 85, 85);
}
.Facebook{
    position: relative;
    top: 1vh;
    left: 40%;
    width: 55px;
    height: 55px;
    border-radius: 55px;
    background-color: rgb(85, 85, 85);
}
.Twitter{
    position: relative;
    top: 1vh;
    left: 41%;
    width: 55px;
    height: 55px;
    border-radius: 55px;
    background-color: rgb(85, 85, 85);
}
.Instagram{
    position: relative;
    top: 1vh;
    left: 42%;
    width: 55px;
    height: 55px;
    border-radius: 55px;
    background-color: rgb(85, 85, 85);
}
.WhatsApp{
    position: relative;
    top: 1vh;
    left: 43%;
    width: 55px;
    height: 55px;
    border-radius: 55px;
    background-color: rgb(85, 85, 85);
}
.DashBoard-Panel{
    position: relative;
    width: 95%;
    height: 85vh;
    top: 2.5vh;
    border-radius: 30px;
    background-color: rgb(65, 65, 65);
}
.Main-Cards{
    display: inline-flex;
    position: relative;
    top: 12vh;
    width: 100%;
    height: 25vh;
}
.Card1{
    position: relative;
    left: 5%;
    width: 25%;
    height: 24vh;
    border-radius: 20px;
    background-color: rgb(30, 30, 30);
}
.Card2{
    position: relative;
    left: 13%;
    width: 25%;
    height: 24vh;
    border-radius: 20px;
    background-color: rgb(30, 30, 30);
}
.Card3{
    position: relative;
    left: 20%;
    width: 25%;
    height: 63vh;
    border-radius: 20px;
    background-color: rgb(30, 30, 30);
}
.Container-PerfilUser{
    position: relative;
    border-radius: 20px;
    left: 5%;
    top: 20vh;
    width: 58%;
    height: 30vh;
    background-color: rgb(30, 30, 30);
}
@media (max-width: 1300px){
    .Logo{
        position: relative;
        top: 2vh;
        left: 5%;
        width: 90%;
        height: 12vh;
        position: relative;
        font-size: 28px;
        font-family: 'Roboto';
        color: rgb(221, 221, 221);
    }
    .Circle-Image-User{
        position: relative;
        width: 120px;
        height: 120px;
        left: 19%;
        top: 5vh;
        border-radius: 120px;
        background-color: rgb(80,80,80);
    }
    .Name{
        color: rgb(180, 180, 180);
        font-family: 'Open Sans';
        position: relative;
        top: 6vh;
        font-size: 20px;
        left: 18%;
    }
    .Description{
        color: rgb(180, 180, 180);
        font-family: 'IBM Plex Sans';
        position: relative;
        top: 6vh;
        font-size: 16px;
        font-weight: 400;
        left: 14%;
    }
    .Blue{
        font-size: 40px;
        font-family: 'Roboto';
        color: rgb(50, 50, 196);
    }
    #Teams{
        position: relative;
        top: 1vh;
        width: 99%;
        height: 8vh;
        background-color: transparent;
        border: none;
        color: white;
        font-family: 'Roboto';
        font-size: 20px;
        border-radius: 0px 10px 10px 0px;
    }
    #Teams:hover{
        background-color: rgb(60,60,60);
    }
    #Chat{
        position: relative;
        top: 1vh;
        width: 99%;
        height: 8vh;
        background-color: transparent;
        border: none;
        color: white;
        font-family: 'Roboto';
        font-size: 20px;
        border-radius: 0px 10px 10px 0px;
    }
    #Chat:hover{
        background-color: rgb(60,60,60);
    }
    #Friends{
        position: relative;
        top: 1vh;
        width: 99%;
        height: 8vh;
        background-color: transparent;
        border: none;
        color: white;
        font-family: 'Roboto';
        font-size: 20px;
        border-radius: 0px 10px 10px 0px;
    }
    #Friends:hover{
        background-color: rgb(60,60,60);
    }
    #Settings{
        position: relative;
        top: 1vh;
        width: 99%;
        height: 8vh;
        background-color: transparent;
        border: none;
        color: white;
        font-family: 'Roboto';
        font-size: 20px;
        border-radius: 0px 10px 10px 0px;
    }
    #Settings:hover{
        background-color: rgb(60,60,60);
    }
    .Img-Settings{
        position: absolute;
        left: 15px;
        top: 8px;
        width: 40px;
        height: 40px;
    }
    .Img-Friends{
        position: absolute;
        left: 15px;
        top: 8px;
        width: 40px;
        height: 40px;
    }
    #Logout{
        position: relative;
        top: 1vh;
        width: 99%;
        height: 8vh;
        background-color: transparent;
        border: none;
        color: white;
        font-family: 'Roboto';
        font-size: 20px;
        border-radius: 0px 10px 10px 0px;
    }
    #Logout:hover{
        background-color: rgb(60,60,60);
    }
    .Img-Logout{
        position: absolute;
        left: 15px;
        top: 8px;
        width: 40px;
        height: 40px;
    }
    .Img-Chat{
        position: absolute;
        left: 15px;
        top: 8px;
        width: 40px;
        height: 40px;
    }
    .BtnTitle{
        position: relative;
    }
    .Img-Teams{
        position: absolute;
        left: 15px;
        top: 8px;
        width: 40px;
        height: 40px;
    }
}